@font-face {
    font-family: 'PureunJeonnam';
    src: url('assets/fonts/PureunJeonnam.ttf') format('truetype');
    font-weight: 400;   /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'PureunJeonnam';
    src: url('assets/fonts/PureunJeonnam-Medium.ttf') format('truetype');
    font-weight: 500;   /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'PureunJeonnam';
    src: url('assets/fonts/PureunJeonnam-Bold.ttf') format('truetype');
    font-weight: 700;   /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'ChangwonDangam';
    src: url('assets/fonts/ChangwonDangamRound.otf') format('opentype');
    font-weight: 500;   /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'ChangwonDangamAsac';
    src: url('assets/fonts/ChangwonDangamAsac-Bold.ttf') format('truetype');
    font-weight: 700;   /* Bold */
    font-style: normal;
}


/* 전체 레이아웃 폭 */
.main .block-container {
    max-width: 1200px;
    padding-top: 2rem;
    background: linear-gradient(135deg, #5a3f37, #2c7744);
    border-radius: 12px;
    padding: 2rem;
}


/* 사이드바 배경 */
section[data-testid="stSidebar"] {
    background-color: #f7f9fb;
}

/* 기본 타이포 스케일 */
h1, h2, h3 {
    font-family: 'ChangwonDangam', sans-serif !important;
    word-break: keep-all;   
    white-space: normal;
    line-height: 1.25;
}
h1 { font-size: 1.6rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.1rem; }

/* 본문 전체 폰트 */ html, body, [data-testid="stAppViewContainer"] {
    font-family: 'PureunJeonnam', sans-serif;
}

div[data-testid="stMetricValue"] {
    font-family: 'ChangwonDangamAsac', sans-serif;
}


/* 기본 요소 간격 보정 */
[data-testid="stVerticalBlock"] > div {
    gap: 1rem;
}

/* Header metric 글씨 크기 조정 */

/* 첫 번째 header container만 타겟 */
div[data-testid="stVerticalBlock"]:has(div[data-testid="stMetric"]) 
div[data-testid="stMetricLabel"] {
    font-size: 0.75rem;
}

div[data-testid="stVerticalBlock"]:has(div[data-testid="stMetric"]) 
div[data-testid="stMetricValue"] {
    font-size: 1.05rem;
}

/* =========================
Custom Callout Box
========================= */
.callout {
    background-color: #f8fafc;      /* 연한 회색 배경 */
    border-left: 6px solid #2563eb;  /* 포인트 블루 */
    padding: 16px 20px;
    margin: 12px 0 24px 0;
    border-radius: 8px;
    color: #1f2937;                  /* 기본 텍스트 색 */
    font-size: 14px;
    line-height: 1.6;
    font-family: 'ChangwonDangam', sans-serif;
}

.callout-title {
    font-family: 'ChangwonDangamAsac', sans-serif;
    font-weight: 500;
    margin-bottom: 6px;
    color: #1e3a8a;
}

.callout small {
    color: #475569;
}
